nav.svelte-bwhrfa.svelte-bwhrfa{background:hsl(207, 95%, 8%);color:white;display:flex;font-size:1.2rem;height:8vmin;justify-content:space-between;padding:0 2rem}nav.svelte-bwhrfa a.svelte-bwhrfa{color:inherit;text-decoration:none}.pages.svelte-bwhrfa.svelte-bwhrfa{display:flex;gap:1rem;list-style:none;margin:0;padding:0}.pages.svelte-bwhrfa>li.svelte-bwhrfa,.bag-link-container.svelte-bwhrfa.svelte-bwhrfa{position:relative}.nav-link.svelte-bwhrfa.svelte-bwhrfa{align-items:center;display:flex;height:100%;padding:0 1rem}.selected.svelte-bwhrfa.svelte-bwhrfa::before{border-top:2px solid white;content:'';position:absolute;top:0;width:100%}.bag.svelte-bwhrfa.svelte-bwhrfa{display:flex;gap:1rem;position:relative}.bag-counter.svelte-bwhrfa.svelte-bwhrfa{background-color:hsl(0, 80%, 50%);border-radius:100px;display:grid;font-size:0.6rem;height:1.2rem;margin-bottom:-1rem;margin-left:-1rem;min-width:1.2rem;padding:0.2rem;place-items:center;position:absolute}:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
  box-sizing: border-box;
  font-family: var(--system-ui);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  background: black;
  color: white;
  margin: 0;
}
.container.svelte-1lja8az{display:flex;flex-direction:column;height:100vh;height:100dvh;overflow:hidden}